@using TM.Models.Entities
@model Tour

@{
    ViewData["Title"] = "Chi tiết tour";
}

<div class="container mt-4">
    <header class="text-black p-3 mb-4">
        <h1 class="h4">Chi tiết tour</h1>
        <p class="mb-1">@Model.Code</p>
        <p>Đi: @Model.StartDate.ToString("dd/MM/yyyy HH:mm") | Về: @Model.EndDate.ToString("dd/MM/yyyy HH:mm") | ĐGSTPB</p>
    </header>

    <div class="accordion" id="tourAccordion">
       
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTourInfo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTourInfo" aria-expanded="true" aria-controls="collapseTourInfo">
                    <h3 class="h5 m-0">Thông tin vé</h3>
                </button>
            </h2>
            <div id="collapseTourInfo" class="accordion-collapse collapse show" aria-labelledby="headingTourInfo" data-bs-parent="#tourAccordion">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="tour-details">
                                <p><strong>Đã bán:</strong> @(Model.TotalSeats - Model.AvailableSeats)</p>
                                <p><strong>@(Model.AvailableSeats == 0 ? "-> Hết Chỗ" : "Còn: " + Model.AvailableSeats)</strong></p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="tour-prices">
                                <ul class="list-unstyled">
                                    <li><strong>Giá tổng:</strong> @Model.SuggestPrice.ToString("N0") VND // <strong>HH - Giá tổng:</strong> @Model.HhFee.ToString("N0") VND</li>
                                    <li><strong>Giá đã giảm:</strong> @Model.DiscountPrice?.ToString("N0") VND </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Accordion Item for Visa/Payment Information -->
        <div class="accordion-item">
           
            <h2 class="accordion-header" id="headingVisaPayment">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVisaPayment" aria-expanded="false" aria-controls="collapseVisaPayment">
                    <h3 class="h5 m-0">Thông tin tour</h3>
                </button>
            </h2>
            <div id="collapseVisaPayment" class="accordion-collapse collapse" aria-labelledby="headingVisaPayment" data-bs-parent="#tourAccordion">
                <div class="accordion-body">
                    <form>

                    <div class="row g-3">
                        <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="holdTime" class="form-label">Thời gian giữ chỗ</label>
                                    <input type="text" class="form-control" id="holdTime" readonly value=@(Model.HoldTime + "H")>
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="visaDeadline" class="form-label">Deadline Visa</label>
                                    <input type="text" class="form-control" id="visaDeadline" readonly value=@(Model.VisaDeadline)>
                                </div>
                        </div>
                        <div class="col-md-3">
                            
                                <div class="mb-3">
                                    <label for="FullPayDeadline" class="form-label">Deadline Full pay</label>
                                    <input type="text" class="form-control" id="FullPayDeadline" readonly value=@(Model.FullPayDeadline)>
                                </div>
                        </div>
                        <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="departureLocation" class="form-label">Điểm khởi hành</label>
                                <select class="form-select" id="departureLocation">
                                    <option value=@Model.DepartureLocation>@Model.DepartureLocation</option>
                     
                                </select>
                                </div>
                        </div>
                            <div class="mb-3">
                                <label for="additionalInfor" class="form-label">Thông tin bổ sung</label>
                                <textarea class="form-control" id="additionalInfor" rows="3"></textarea>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
    </div>
</div>