@model IEnumerable<TM.Models.Entities.Tour>

@{
    ViewData["Title"] = "List of Tours";
}

<h2>List of Tours</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Tour</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Seats</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tour in Model)
        {
            <tr>
                <td>@tour.Name</td>
                <td>@tour.Code</td>
                <td>@tour.StartDate.ToShortDateString()</td>
                <td>@tour.EndDate.ToShortDateString()</td>
                <td>@tour.TotalSeats</td>
                <td>@tour.SuggestPrice.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
