@model IEnumerable<TM.Models.Entities.Tour>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HhFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureFlightInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalFlightInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAutoHoldTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoldTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVisaRequired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisaDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullPayDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuggestPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HhFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureFlightInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalFlightInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAutoHoldTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoldTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVisaRequired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisaDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullPayDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
